.network-modal {
    .modal-top {
        margin-top: 20px;
        padding-left: 19px;

        .top_span {
            display: inline-block;
            width: 150px;
        }
    }
    
    .modal-upload {
        margin-top: 20px;
    }

    .modal-tips {
        margin-top: 20px;
        padding-left: 17px;

        .tip_list {
            padding: 0;
            .tip_item {
                margin-top: 10px;
                font-size: 12px;
                color: #999;
            }
        }
    }
}

.dataset-modal {

    .dataset_span {
        display: inline-block;
        width: 150px;
    }

    .dataset-name {
        margin-top: 20px;
    }

    .dataset-img {
        margin-top: 20px;
        :global {
            .ant-upload-wrapper {
                display: inline-block;
            }
        }
    }

    .dataset-upload {
        margin-top: 10px;
    }

    .dataset-input {
        margin-top: 10px;
    }

    .dataset-tips {
        .tip_list {
            padding: 0;
            .tip_item {
                margin-top: 10px;
                font-size: 12px;
                color: #999;
            }
        }
    }
}