.upload-list {

    .selected {
        position: relative;
        .check_icon {
            position: absolute;
            right: 1px;
            top: 1px;
        }

        :global {
            .ant-upload-list-item-thumbnail {
                border: 1px solid #3873fa;
            }
        }
    }

    :global {
        .ant-upload-list-item {
            padding: 0 !important;

            &::before {
                width: 100% !important;
                height: 100% !important;
            }
        }

        .ant-upload-list-item-thumbnail {
            border-radius: 5px;
        }

        .ant-alert {
            margin-bottom: 10px;
            width: 544px;
        }
    }
}