.tabInput_item {
    position: relative;

    .form-item_topButton {
        position: absolute;
        top: -30px;
        right: 0px;
        font-size: 12px;
    }


    .form-item_radioGroup {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .form-item_radioItem {
        position: relative;
        display: inline-block;

       
    }

    :global {
        .ant-radio-button-wrapper {
            width: 185px;
            height: 32px;
            font-size: 14px;
            background-color: #ebf0f5;
            color: #626f85;
            border-radius: 4px;
            border: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}

